html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
    display:flex;
    justify-content:center;
    background-color: black;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header{
    display: flex;
    justify-content:space-around;
    background-color: black;
}

.Gallery{
margin:100px;
border-radius:360px;
   width:500px; 
   height:500px;
}

#Img1{
    margin-bottom:10px;
    border-radius:360px;
    width:300px;
    height:300px;
}

#headertext{
    color: white;
}

.footer{
    display:flex;
    justify-content:center;
    background-color:black;
}
.navbar{
    background-color:black;
    display:flex;
    justify-content:space-between;
}
.navbarcolor{
    color:white;
}
.AOT{
    display:flex;
    justify-content:space-around;
    height:50%;
    width:100%;
}

.About{
    background-color:black;
    color:white;
}

.footer2{
    background-color:black;
    display:flex;
    justify-content:center;
}

#Bio{
    color:white;
    background-color:black;
    display:flex;
    justify-content:center;
    height:150%;
    width:100%;
}

